:root {
  font-family:
    Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #000;
  --color-secondary: #79736d;
  --color-white: #fff;
  --color-border: #000;
  --size-border: 0.5px;
}

/*  RESET */
a {
  color: currentColor;
  text-decoration: inherit;
}

body {
  margin: 0;
  min-width: 320px;
  min-height: 100vh;
}
#root {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  gap: clamp(1rem, 1.559vw + 0.596rem, 2rem);
}

main {
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr minmax(0, 1720px) 1fr;
  gap: clamp(1rem, 1.559vw + 0.596rem, 2rem);
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
span {
  margin: 0;
  padding: 0;
  font-weight: inherit;
  font-size: inherit;
  text-transform: inherit;
  color: inherit;
  text-align: inherit;
  text-decoration: inherit;
  line-height: 100%;
  letter-spacing: 0%;
}

/*  UTILITIES */

.container {
  grid-column: 2 / 3;
}

.grid-layout {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}
