:root {
  font-family:
    Helvetica Neue,
    sans-serif;
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  --color-primary: #000;
  --color-secondary: #79736d;
  --color-white: #fff;
  --color-border: #000;
  --size-border: 0.5px;
  --color-button-disabled: #f3f2f2;
}

* {
  box-sizing: border-box;
  position: relative;
  min-width: 0;
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
  line-height: 100%;
  font-weight: 300;
  letter-spacing: 0;
}

/*  RESET */
a {
  color: currentColor;
  text-decoration: inherit;
}

body {
  min-width: 320px;
  min-height: 100dvh;
}
#root {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  gap: clamp(1rem, 1.559vw + 0.596rem, 2rem);
}

main {
  --max-width: 1200px;
  grid-row: 2 / 3;
  display: grid;
  grid-template-columns: 1fr minmax(0, var(--max-width)) 1fr;
  gap: clamp(1rem, 1.559vw + 0.596rem, 2rem);

  > * {
    grid-column: 2 / 3;
  }
}

.full-width {
  --max-width: 1720px;
}

input {
  outline: none;
}

/*  UTILITIES */

.grid-layout {
  display: grid;
  gap: 1px;
  grid-template-columns: repeat(auto-fill, minmax(340px, 1fr));
}

.slider {
  overflow-x: auto;
  scroll-snap-type: x mandatory;
  scroll-snap-align: center;
  scroll-snap-stop: always;
  display: flex;
  gap: 1px;
  padding: 0 1px;
  border-top: 1px solid var(--color-border);
}
