.search-bar {
  display: grid;
  gap: 12px;
  padding-block: 12px;
  input {
    padding-bottom: 0.5rem;
    border-bottom: 0.5px solid var(--color-border);
    font-size: 16px;
    color: var(--color-primary);
    &::placeholder {
      color: #aaaaaa;
    }
  }
  span {
    font-size: 12px;
    color: var(--color-primary);
    text-transform: uppercase;
  }
}
