.card-product {
  padding: 1rem;
  outline: var(--size-border) solid var(--color-border);
  opacity: 0;
  animation: fadeIn 0.3s linear 0.2s forwards;
  min-width: fit-content;
  position: relative;
  .card-product__link {
    align-items: center;
    display: grid;
    grid-template-rows: auto 1fr;
    gap: 1.5rem;
    height: 100%;
    .card-product__image {
      width: 100%;
      object-fit: contain;
      object-position: center;
      aspect-ratio: 1 / 1;
      opacity: 0;
      animation: fadeIn 0.3s linear forwards;
    }
    .card-product__info {
      --font-size: 12px;
      --font-weight: 300;

      display: grid;
      gap: 0.25rem;
      grid-template-columns: 1fr 1fr;
      align-items: center;
      justify-content: space-between;
      font-size: var(--font-size);
      font-weight: var(--font-weight);

      .card-product__info-name,
      .card-product__info-brand,
      .card-product__info-price {
        text-transform: uppercase;
        transition: color 0.2s ease-out 0.2s;
      }

      .card-product__info-brand {
        --font-size: 10px;
        grid-column: 1 / -1;
        font-size: var(--font-size);
        color: var(--color-secondary);
      }
      .card-product__info-price {
        text-align: right;
      }
    }
  }
  &:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 0;
    background-color: var(--color-primary);
    z-index: -1;
    transition: height 0.3s ease-in-out;
  }
  &:hover {
    &::before {
      height: 100%;
    }
    .card-product__info {
      .card-product__info-name,
      .card-product__info-price,
      .card-product__info-brand {
        color: var(--color-white);
        transition: color 0.1s ease-out;
      }
    }
  }
}

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
