.slider__container {
  position: relative;
  display: grid;
  gap: 2rem;
  grid-column: 1 / -1;
  .slider {
    position: relative;
    overflow-x: scroll;
    scrollbar-width: none;
    /* scrollbar-width: none; */
    .slider__content {
      margin-left: calc((100% - var(--max-width)) / 2);
      display: flex;
      gap: 1px;
      padding: 0 1px;
      border-block: 1px solid var(--color-border);
    }
  }
  .slider__scroll {
    width: var(--max-width);
    margin-inline: auto;
    height: 1px;
    background-color: #cccccc;
    position: relative;
    left: 0;
    z-index: 1;

    .slider__scroll-bar {
      height: 1px;
      background-color: var(--color-primary);
    }
  }
}
